<div class="row">
    <div class="col-12  trending" trending><h5>Here's Trending Books</h5></div>
    <div class="col-md-3 allcards" *ngFor="let Book of book ">
      <div class="card mb-4" style="width: 100%;">
        <img [src]="Book.bookImage" class="card-img-top" alt="Card image" style="height: 150px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ Book.bookTitle }}</h5>
          <p class="card-text">{{ Book.bookText }}</p>
          
          <button class="btn btn-warning" (click)="bookDetails(Book.bookId)">Read More...</button>
        </div>
      </div>
    </div>
  </div>
 
  